/ {
    // macros
    macros {
      ZMK_MACRO(hello, // hello world
        wait-ms = <0>;
        tap-ms  = <10>;
        bindings = <&kp LS(H) &kp E &kp L &kp L &kp O>
        , <&kp COMMA>
        , <&kp W &kp O &kp R &kp L &kp D &kp EXCL>;
      )

      ZMK_MACRO(encoder, // for encoder switch press
        wait-ms = <0>;
        tap-ms  = <10>;
        bindings = <&kp LS(I) &kp SPACE &kp A &kp M &kp SPACE &kp A &kp SPACE>
        , <&kp E &kp N &kp C &kp O &kp D &kp E &kp R>;
      )
    
      ZMK_MACRO(spc2,
        wait-ms = <0>;
        tap-ms  = <10>;
        bindings = <&kp LA(M) &kp N2>;
      )
    };
   
    // combos
    combos {
        compatible = "zmk,combos";
        // right hand 
        combo_up {
            timeout-ms = <50>;
            key-positions = <7 19>;
            bindings = <&kp UP>;
        };
        
         combo_down {
            timeout-ms = <50>;
            key-positions = <19 31>;
            bindings = <&kp DOWN>;
        };
        
         combo_left {
            timeout-ms = <50>;
            key-positions = <18 19>;
            bindings = <&kp LEFT>;
        };
        
         combo_right {
            timeout-ms = <50>;
            key-positions = <19 20>;
            bindings = <&kp RIGHT>;
        };
        
         combo_pgdn {
            timeout-ms = <50>;
            key-positions = <21 33>;
            bindings = <&kp PG_DN>;
        };
 
        combo_pgup {
            timeout-ms = <50>;
            key-positions = <9 21>;
            bindings = <&kp PG_UP>;
        };
        
        combo_home {
            timeout-ms = <50>;
            key-positions = <10 22>;
            bindings = <&kp HOME>;
        };
        
        combo_end {
            timeout-ms = <50>;
            key-positions = <22 34>;
            bindings = <&kp END>;
        };
        
        // left hand 

      

        // symbols




        // others
        combo_capswd {
            timeout-ms = <50>;
            key-positions = <3 8>;
            bindings = <&caps_word>;
        };

        combo_lsym {
            timeout-ms = <50>;
            key-positions = <37 40>;
            bindings = <&tog SYM>;
        };

        combo_lnum {
            timeout-ms = <50>;
            key-positions = <38 39>;
            bindings = <&tog NUM>;
        };

        combo_caps lock {
            timeout-ms = <50>;
            key-positions = <37 38>;
            bindings = <&kp CAPSLOCK>;
        };



  
    };
};
